{% extends 'heritagesites/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

  <header>
    <h2>New Site</h2>
  </header>

  <!-- novalidate attribute required to render validation messages -->
  <form method="post" novalidate  class = 'unesco-form'>
    {% csrf_token %}


    <!--heritage site category-->
    <div class="row">
      <div class="col-6">
        {{ form.heritage_site_category|as_crispy_field }}
      </div>
    </div>

    <!--country area-->
    <div class="row">
      <div class="col-6">
        {{ form.country_area|as_crispy_field }}
      </div>
    </div>


    <!-- Restore missing fields rendered using Bootstrap rows and columns classes --> 

    <!--site name -->
    <div class="row">
      <div class="col-6">
        {{ form.site_name|as_crispy_field }}
      </div>
    </div>

    <!--description -->
    <div class="row">
      <div class="col-6">
        {{ form.description|as_crispy_field }}
      </div>
    </div>

    <!--justification -->
    <div class="row">
      <div class="col-6">
        {{ form.justification|as_crispy_field }}
      </div>
    </div>

    <!--date inscribed -->
    <div class="row">
      <div class="col-6">
        {{ form.date_inscribed|as_crispy_field }}
      </div>
    </div>
    
    <!--latitude/longitude-->
    <div class="row">
      <div class="col-3">
        {{ form.longitude|as_crispy_field }}
      </div>
      <div class="col-3">
        {{ form.latitude|as_crispy_field }}
      </div>
    </div>

    <!--area (hectares)-->
    <div class="row">
      <div class="col-6">
        {{ form.area_hectares|as_crispy_field }}
      </div>
    </div>

    <!--transboundary-->
    <div class="row">
      <div class="col-6">
        {{ form.transboundary|as_crispy_field }}
      </div>
    </div>

    <button type="submit" class="btn btn-outline-success">Add</button>
    &nbsp;<a class="btn btn-outline-secondary" href="{% url 'sites' %}">cancel</a> <!--FIXED url used to be just 'site', changed to 'sites'-->
  </form>

{% endblock content %}